[submodule "escmake"]
	path = escmake
	url = https://github.com/vgromov/escmake.git
	branch = master
[submodule "scripts-core"]
	path = scripts-core
	url = https://github.com/vgromov/scripts-core.git
	branch = master
[submodule "esfwx"]
	path = esfwx
	url = https://github.com/vgromov/esfwx.git
	branch = master
[submodule "esfwx-gui"]
	path = esfwx-gui
	url = https://github.com/vgromov/esfwx-gui-wx.git
	branch = master
[submodule "setup/iss-es"]
	path = setup/iss-es
	url = https://github.com/vgromov/es-iss.git
	branch = master
[submodule "setup/winsparkle"]
	path = setup/winsparkle
	url = https://github.com/vgromov/es-winsparkle.git
	branch = master
