[submodule "escmake"]
	path = escmake
	url = https://github.com/vgromov/escmake.git
	branch = 1.0
[submodule "scripts-core"]
	path = scripts-core
	url = https://github.com/vgromov/scripts-core.git
	branch = 2.0
[submodule "esfwx"]
	path = esfwx
	url = https://github.com/vgromov/esfwx.git
	branch = 1.24.2
[submodule "esfwx-gui"]
	path = esfwx-gui
	url = https://github.com/vgromov/esfwx-gui-wx.git
	branch = 1.24
